<!DOCTYPE html>
<html>
    <head>
        <title>Clone</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/main.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://kit.fontawesome.com/6310013648.js" crossorigin="anonymous"></script>
        
    </head>
    <body>
        <div class="head">
            <h1>Leases</h1>
            <a href="/register">Register</a>
        </div>
        <div class="cont">
            <div class="star-widget">
              <h4>Rate Us</h4>
              <input type="radio" name="rate" id="rate-5">
              <label for="rate-5" class="fas fa-star"></label>
              <input type="radio" name="rate" id="rate-4">
              <label for="rate-4" class="fas fa-star"></label>
              <input type="radio" name="rate" id="rate-3">
              <label for="rate-3" class="fas fa-star"></label>
              <input type="radio" name="rate" id="rate-2">
              <label for="rate-2" class="fas fa-star"></label>
              <input type="radio" name="rate" id="rate-1">
              <label for="rate-1" class="fas fa-star"></label>
              <form action="#">
                <div class="btn">
                  <button type="submit">Submit</button>
                </div>
              </form>
            </div>
          </div>

        <div class="container">
            
            <div class="section1">
                <div class="pr">
                    <div class="item active">
                        <img src="/img/image1.jpg" alt=""><br>
                    </div>
                    <div class="item">
                        <img src="/img/bedroom.jpeg" alt=""><br>
                    </div>
                    <div class="item">
                        <img src="/img/kitchen.jpg" alt=""><br>
                    </div>
                    
                </div>
                    <p>102 South Streat # 302,<br> 14850</p>
                <div class="bed">
                    <h5 class="price">$3.120</h5>
                    <button id="open1">Details</button>
                </div>
                <div class="left-slide"> 
                    <i class="fas fa-chevron-circle-left"></i>
                </div>
                <div class="right-slide">
                    <i class="fas fa-chevron-circle-right"></i>
                </div>
            </div>
            

            <div class="section1">
                <div class="pr">
                    <div class="item active">
                        <img src="/img/image2.jpg" alt=""><br>
                    </div>
                    <div class="item">
                        <img src="/img/bedroom.jpeg" alt=""><br>
                    </div>
                    <div class="item">
                        <img src="/img/kitchen.jpg" alt=""><br>
                    </div>
                    
                </div>
                    <p>102 South Streat # 302,<br> 14850</p>
                <div class="bed">
                    <h5 class="price">$3.120</h5>
                    <button id="open2">Details</button>
                </div>
                <div class="left-slide"> 
                    <i class="fas fa-chevron-circle-left"></i>
                </div>
                <div class="right-slide">
                    <i class="fas fa-chevron-circle-right"></i>
                </div>
            </div>
             

            <div class="section1">
                <div class="pr">
                    <div class="item active">
                        <img src="/img/image3.jpg" alt=""><br>
                    </div>
                    <div class="item">
                        <img src="/img/bedroom.jpeg" alt=""><br>
                    </div>
                    <div class="item">
                        <img src="/img/kitchen.jpg" alt=""><br>
                    </div>
                    
                </div>
                    <p>102 South Streat # 302,<br> 14850</p>
                <div class="bed">
                    <h5 class="price">$3.120</h5>
                    <button id="open3">Details</button>
                </div>
                <div class="left-slide"> 
                    <i class="fas fa-chevron-circle-left"></i>
                </div>
                <div class="right-slide">
                    <i class="fas fa-chevron-circle-right"></i>
                </div>
            </div>


             <div class="section1">
                <div class="pr">
                    <div class="item active">
                        <img src="/img/image4.jpg" alt=""><br>
                    </div>
                    <div class="item">
                        <img src="/img/bedroom.jpeg" alt=""><br>
                    </div>
                    <div class="item">
                        <img src="/img/kitchen.jpg" alt=""><br>
                    </div>
                    
                </div>
                    <p>102 South Streat # 302,<br> 14850</p>
                <div class="bed">
                    <h5 class="price">$3.120</h5>
                    <button id="open4">Details</button>
                </div>
                <div class="left-slide"> 
                    <i class="fas fa-chevron-circle-left"></i>
                </div>
                <div class="right-slide">
                    <i class="fas fa-chevron-circle-right"></i>
                </div>
            </div>
                        
        </div>
        <div class="icons">
            <i class="fas fa-user"></i>
            <i class="fas fa-map-marker-alt" ></i>
            <i class="fas fa-thumbs-up"></i>
            <i class="fas fa-file-alt"></i>
            <i class="fas fa-home"></i>
        </div>
        <div class="model-container" id="model_container">
            <div class="model">
                <button id="close">x</button>
                <p>
                    Area: Mumbai country: India <br>
                    3 bedroom 1 hall <br>
                    Parking available <br>
                    price: $3.120
                </p>
                
             </div>
        </div>
        


        <script type="text/javascript" src="/js/script.js"></script>
    </body>
</html>